In [1]:
import pandas as pd
import numpy as np

In [2]:
ipldata={
         'Team':['KKR','MI','CSK','SRH','MI','CSK','RR','KKR','CSK','MI','GT'],
         'Year': [2014,2015,2014,2016,2018,2018,2019,2018,2015,2022,2024],
         'Rank':[1,1,2,1,2,2,1,3,4,5,1]

}
df_ipl=pd.DataFrame(ipldata)
df_ipl

   Team  Year  Rank
0   KKR  2014     1
1    MI  2015     1
2   CSK  2014     2
3   SRH  2016     1
4    MI  2018     2
5   CSK  2018     2
6    RR  2019     1
7   KKR  2018     3
8   CSK  2015     4
9    MI  2022     5
10   GT  2024     1

In [4]:
# dataframe.groupby('key) ,groupby(['key','key2'])
#group data on basis of team
teamgroup=df_ipl.groupby('Team')
teamgroup

In [5]:
teamgroup.groups

{'CSK': [2, 5, 8], 'GT': [10], 'KKR': [0, 7], 'MI': [1, 4, 9], 'RR': [6], 'SRH': [3]}

In [6]:
for team,group in teamgroup:
  print(team)
  print(group)

CSK
  Team  Year  Rank
2  CSK  2014     2
5  CSK  2018     2
8  CSK  2015     4
GT
   Team  Year  Rank
10   GT  2024     1
KKR
  Team  Year  Rank
0  KKR  2014     1
7  KKR  2018     3
MI
  Team  Year  Rank
1   MI  2015     1
4   MI  2018     2
9   MI  2022     5
RR
  Team  Year  Rank
6   RR  2019     1
SRH
  Team  Year  Rank
3  SRH  2016     1

In [7]:
df_ipl.groupby(['Team','Year']).groups

{('CSK', 2014): [2], ('CSK', 2015): [8], ('CSK', 2018): [5], ('GT', 2024): [10], ('KKR', 2014): [0], ('KKR', 2018): [7], ('MI', 2015): [1], ('MI', 2018): [4], ('MI', 2022): [9], ('RR', 2019): [6], ('SRH', 2016): [3]}

In [9]:
df_ipl.groupby('Year').groups

{2014: [0, 2], 2015: [1, 8], 2016: [3], 2018: [4, 5, 7], 2019: [6], 2022: [9], 2024: [10]}

In [11]:
for name,group in df_ipl.groupby('Year'):
  print(name)
  print(group)

2014
  Team  Year  Rank
0  KKR  2014     1
2  CSK  2014     2
2015
  Team  Year  Rank
1   MI  2015     1
8  CSK  2015     4
2016
  Team  Year  Rank
3  SRH  2016     1
2018
  Team  Year  Rank
4   MI  2018     2
5  CSK  2018     2
7  KKR  2018     3
2019
  Team  Year  Rank
6   RR  2019     1
2022
  Team  Year  Rank
9   MI  2022     5
2024
   Team  Year  Rank
10   GT  2024     1

In [13]:
#see details of given group  get_group('groupname)
teamgroup=df_ipl.groupby('Team')
teamname=input('enter team name')
print(teamgroup.get_group(teamname))

enter team nameMI
  Team  Year  Rank
1   MI  2015     1
4   MI  2018     2
9   MI  2022     5

In [15]:
teamgroup['Rank'].agg(np.mean)

Team
CSK    2.666667
GT     1.000000
KKR    2.000000
MI     2.666667
RR     1.000000
SRH    1.000000
Name: Rank, dtype: float64

In [16]:
teamgroup['Rank'].agg(np.size)

Team
CSK    3
GT     1
KKR    2
MI     3
RR     1
SRH    1
Name: Rank, dtype: int64

In [17]:
teamgroup['Rank'].agg([np.size,np.mean,np.sum])

      size      mean  sum
Team
CSK      3  2.666667    8
GT       1  1.000000    1
KKR      2  2.000000    4
MI       3  2.666667    8
RR       1  1.000000    1
SRH      1  1.000000    1

In [22]:
teamgroup['Team'].filter(lambda x : len(x)>=2)

0    KKR
1     MI
2    CSK
4     MI
5    CSK
7    KKR
8    CSK
9     MI
Name: Team, dtype: object

In [26]:
def checkEven(n):
  if n%2==0:
    return True

l=[10,20,11,23,45,67,21]
#filter(fn,iterable)
print(list(filter(checkEven,l)))

[10, 20]

In [28]:

letters=['a','e','x','n','i','o','t','z']

def filterVowel(ch):
  vowels=['a','e','i','o','u']
  if ch in vowels:
    return True
  else:
    return False

fobj =filter(filterVowel,letters)

for item in fobj:
  print(item)

a
e
i
o

In [30]:
print(list(filter(filterVowel,letters)))

['a', 'e', 'i', 'o']

In [33]:
#lambda functions are one line function
# known as anonymous function
# syntax :  lambda arg1,agr2  : statement

res =lambda msg : print(msg)
res('hello class')

hello class

In [34]:
add = lambda x , y : print(f"{x}+{y}={x+y}")
add(10,20)

10+20=30

In [39]:
even = lambda n :  "even no" if  n%2==0  else "odd no"
even(111)

'odd no'